{{#partial "title" }}
    Welcome !
{{/partial}}
{{#partial "content"}}
    {{#if this.userinfo.0.id}}
        <form method='post' class="tweet-form" action='/'>
            <div class="form-group">
            <input name="tweet" class="form-control" type="text" maxlength="140" required>
            </div>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    {{/if}}
<div class="timeline">
<h3>Public timeline</h3>
        {{#each tweets}}
<ul class="tweet">
<li class="side"><a href="/profile/{{id_user}}"><h3>{{ username }}</h3></a></li>
<li class="side" style="margin-left: 80%;">{{ date }}</li>
<li>{{ tweet }}</li>
<!--<li>{{ hashtags }}</li>-->
</ul>
        {{/each}}
</div>
{{/partial}}


{{> layout.hbs}}
