{{#partial "title" }}
        Profile Information
        {{/partial}}

        <!--form.hbs.-->
        {{#partial "content"}}

<h1>{{this.tweets.0.username}}'s Information</h1>
{{#if this.test.0.follow}}
<a type="button" href="/follow/{{this.tweets.0.id_user}}" class="btn btn-primary" role="button">Follow</a>
        {{else if this.test.0.unfollow}}
<a type="button" href="/unfollow/{{this.tweets.0.id_user}}" class="btn btn-primary" role="button">Unfollow</a>
{{/if}}

<div class="timeline">
{{#each tweets}}
<ul class="tweet">
    <li class="side"><a href="/profile/{{id_user}}"><h3>{{ username }}</h3></a></li>
    <li class="side">{{ date }}</li>
    <li>{{ tweet }}</li>
</ul>
{{/each}}
</div>

<!--<button type="submit" class="btn">Go!</button>-->
</form>
        <!--form.hbs.-->
        {{/partial}}
<APPLET CODE="UserService.class"
        NAME="userservice">
        </APPLET>

        {{> layout.hbs}}